<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uniE015</key>
    <string>uniE_015.glif</string>
    <key>uniE017</key>
    <string>uniE_017.glif</string>
    <key>uniE01C</key>
    <string>uniE_01C_.glif</string>
    <key>uniE020</key>
    <string>uniE_020.glif</string>
    <key>uniE024</key>
    <string>uniE_024.glif</string>
    <key>uniE02A</key>
    <string>uniE_02A_.glif</string>
    <key>uniE02B</key>
    <string>uniE_02B_.glif</string>
    <key>uniE02D</key>
    <string>uniE_02D_.glif</string>
    <key>uniE02E</key>
    <string>uniE_02E_.glif</string>
    <key>uniE040</key>
    <string>uniE_040.glif</string>
    <key>uniE041</key>
    <string>uniE_041.glif</string>
    <key>uniE054</key>
    <string>uniE_054.glif</string>
    <key>uniE055</key>
    <string>uniE_055.glif</string>
    <key>uniE056</key>
    <string>uniE_056.glif</string>
    <key>uniE057</key>
    <string>uniE_057.glif</string>
    <key>uniE058</key>
    <string>uniE_058.glif</string>
    <key>uniE05A</key>
    <string>uniE_05A_.glif</string>
    <key>uniE060</key>
    <string>uniE_060.glif</string>
    <key>uniE061</key>
    <string>uniE_061.glif</string>
    <key>uniE080</key>
    <string>uniE_080.glif</string>
    <key>uniE081</key>
    <string>uniE_081.glif</string>
    <key>uniE083</key>
    <string>uniE_083.glif</string>
    <key>uniE085</key>
    <string>uniE_085.glif</string>
    <key>uniE087</key>
    <string>uniE_087.glif</string>
    <key>uniE088</key>
    <string>uniE_088.glif</string>
  </dict>
</plist>
