<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>arc.component</key>
    <string>arc.component.glif</string>
    <key>circle.component</key>
    <string>circle.component.glif</string>
    <key>circle_inner.component</key>
    <string>circle_inner.component.glif</string>
    <key>line.component</key>
    <string>line.component.glif</string>
    <key>line_inner.component</key>
    <string>line_inner.component.glif</string>
    <key>ring.component</key>
    <string>ring.component.glif</string>
    <key>uniE000</key>
    <string>uniE_000.glif</string>
    <key>uniE010</key>
    <string>uniE_010.glif</string>
    <key>uniE015</key>
    <string>uniE_015.glif</string>
    <key>uniE016</key>
    <string>uniE_016.glif</string>
    <key>uniE017</key>
    <string>uniE_017.glif</string>
    <key>uniE01C</key>
    <string>uniE_01C_.glif</string>
    <key>uniE01D</key>
    <string>uniE_01D_.glif</string>
    <key>uniE01E</key>
    <string>uniE_01E_.glif</string>
    <key>uniE01F</key>
    <string>uniE_01F_.glif</string>
    <key>uniE053</key>
    <string>uniE_053.glif</string>
    <key>uniE057</key>
    <string>uniE_057.glif</string>
    <key>uniE058</key>
    <string>uniE_058.glif</string>
    <key>uniE059</key>
    <string>uniE_059.glif</string>
    <key>uniE05C</key>
    <string>uniE_05C_.glif</string>
    <key>uniE05D</key>
    <string>uniE_05D_.glif</string>
    <key>uniE05E</key>
    <string>uniE_05E_.glif</string>
    <key>uniE062</key>
    <string>uniE_062.glif</string>
  </dict>
</plist>
