<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>arc.component</key>
    <string>arc.component.glif</string>
    <key>circle.component</key>
    <string>circle.component.glif</string>
    <key>circle_inner.component</key>
    <string>circle_inner.component.glif</string>
    <key>line.component</key>
    <string>line.component.glif</string>
    <key>line_inner.component</key>
    <string>line_inner.component.glif</string>
    <key>notes.component</key>
    <string>notes.component.glif</string>
    <key>radio</key>
    <string>radio.glif</string>
    <key>ring.component</key>
    <string>ring.component.glif</string>
    <key>uniE000</key>
    <string>uniE_000.glif</string>
    <key>uniE008</key>
    <string>uniE_008.glif</string>
    <key>uniE009</key>
    <string>uniE_009.glif</string>
    <key>uniE00A</key>
    <string>uniE_00A_.glif</string>
    <key>uniE00B</key>
    <string>uniE_00B_.glif</string>
    <key>uniE00C</key>
    <string>uniE_00C_.glif</string>
    <key>uniE00D</key>
    <string>uniE_00D_.glif</string>
    <key>uniE010</key>
    <string>uniE_010.glif</string>
    <key>uniE011</key>
    <string>uniE_011.glif</string>
    <key>uniE012</key>
    <string>uniE_012.glif</string>
    <key>uniE013</key>
    <string>uniE_013.glif</string>
    <key>uniE014</key>
    <string>uniE_014.glif</string>
    <key>uniE015</key>
    <string>uniE_015.glif</string>
    <key>uniE016</key>
    <string>uniE_016.glif</string>
    <key>uniE017</key>
    <string>uniE_017.glif</string>
    <key>uniE018</key>
    <string>uniE_018.glif</string>
    <key>uniE019</key>
    <string>uniE_019.glif</string>
    <key>uniE01A</key>
    <string>uniE_01A_.glif</string>
    <key>uniE01B</key>
    <string>uniE_01B_.glif</string>
    <key>uniE01C</key>
    <string>uniE_01C_.glif</string>
    <key>uniE01D</key>
    <string>uniE_01D_.glif</string>
    <key>uniE01E</key>
    <string>uniE_01E_.glif</string>
    <key>uniE01F</key>
    <string>uniE_01F_.glif</string>
    <key>uniE020</key>
    <string>uniE_020.glif</string>
    <key>uniE021</key>
    <string>uniE_021.glif</string>
    <key>uniE022</key>
    <string>uniE_022.glif</string>
    <key>uniE023</key>
    <string>uniE_023.glif</string>
    <key>uniE024</key>
    <string>uniE_024.glif</string>
    <key>uniE025</key>
    <string>uniE_025.glif</string>
    <key>uniE026</key>
    <string>uniE_026.glif</string>
    <key>uniE027</key>
    <string>uniE_027.glif</string>
    <key>uniE028</key>
    <string>uniE_028.glif</string>
    <key>uniE029</key>
    <string>uniE_029.glif</string>
    <key>uniE02A</key>
    <string>uniE_02A_.glif</string>
    <key>uniE02B</key>
    <string>uniE_02B_.glif</string>
    <key>uniE02C</key>
    <string>uniE_02C_.glif</string>
    <key>uniE02D</key>
    <string>uniE_02D_.glif</string>
    <key>uniE02E</key>
    <string>uniE_02E_.glif</string>
    <key>uniE02F</key>
    <string>uniE_02F_.glif</string>
    <key>uniE030</key>
    <string>uniE_030.glif</string>
    <key>uniE031</key>
    <string>uniE_031.glif</string>
    <key>uniE032</key>
    <string>uniE_032.glif</string>
    <key>uniE033</key>
    <string>uniE_033.glif</string>
    <key>uniE034</key>
    <string>uniE_034.glif</string>
    <key>uniE035</key>
    <string>uniE_035.glif</string>
    <key>uniE036</key>
    <string>uniE_036.glif</string>
    <key>uniE037</key>
    <string>uniE_037.glif</string>
    <key>uniE038</key>
    <string>uniE_038.glif</string>
    <key>uniE039</key>
    <string>uniE_039.glif</string>
    <key>uniE03A</key>
    <string>uniE_03A_.glif</string>
    <key>uniE040</key>
    <string>uniE_040.glif</string>
    <key>uniE041</key>
    <string>uniE_041.glif</string>
    <key>uniE042</key>
    <string>uniE_042.glif</string>
    <key>uniE043</key>
    <string>uniE_043.glif</string>
    <key>uniE044</key>
    <string>uniE_044.glif</string>
    <key>uniE045</key>
    <string>uniE_045.glif</string>
    <key>uniE046</key>
    <string>uniE_046.glif</string>
    <key>uniE047</key>
    <string>uniE_047.glif</string>
    <key>uniE048</key>
    <string>uniE_048.glif</string>
    <key>uniE049</key>
    <string>uniE_049.glif</string>
    <key>uniE04A</key>
    <string>uniE_04A_.glif</string>
    <key>uniE04B</key>
    <string>uniE_04B_.glif</string>
    <key>uniE04C</key>
    <string>uniE_04C_.glif</string>
    <key>uniE04D</key>
    <string>uniE_04D_.glif</string>
    <key>uniE04E</key>
    <string>uniE_04E_.glif</string>
    <key>uniE04F</key>
    <string>uniE_04F_.glif</string>
    <key>uniE050</key>
    <string>uniE_050.glif</string>
    <key>uniE051</key>
    <string>uniE_051.glif</string>
    <key>uniE052</key>
    <string>uniE_052.glif</string>
    <key>uniE053</key>
    <string>uniE_053.glif</string>
    <key>uniE054</key>
    <string>uniE_054.glif</string>
    <key>uniE055</key>
    <string>uniE_055.glif</string>
    <key>uniE056</key>
    <string>uniE_056.glif</string>
    <key>uniE057</key>
    <string>uniE_057.glif</string>
    <key>uniE058</key>
    <string>uniE_058.glif</string>
    <key>uniE059</key>
    <string>uniE_059.glif</string>
    <key>uniE05A</key>
    <string>uniE_05A_.glif</string>
    <key>uniE05B</key>
    <string>uniE_05B_.glif</string>
    <key>uniE05C</key>
    <string>uniE_05C_.glif</string>
    <key>uniE05D</key>
    <string>uniE_05D_.glif</string>
    <key>uniE05E</key>
    <string>uniE_05E_.glif</string>
    <key>uniE05F</key>
    <string>uniE_05F_.glif</string>
    <key>uniE060</key>
    <string>uniE_060.glif</string>
    <key>uniE061</key>
    <string>uniE_061.glif</string>
    <key>uniE062</key>
    <string>uniE_062.glif</string>
    <key>uniE080</key>
    <string>uniE_080.glif</string>
    <key>uniE081</key>
    <string>uniE_081.glif</string>
    <key>uniE083</key>
    <string>uniE_083.glif</string>
    <key>uniE085</key>
    <string>uniE_085.glif</string>
    <key>uniE087</key>
    <string>uniE_087.glif</string>
    <key>uniE088</key>
    <string>uniE_088.glif</string>
    <key>way.icon</key>
    <string>way.icon.glif</string>
  </dict>
</plist>
