<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>H18533</key>
    <string>H_18533.glif</string>
    <key>block</key>
    <string>block.glif</string>
    <key>circle</key>
    <string>circle.glif</string>
    <key>invbullet</key>
    <string>invbullet.glif</string>
    <key>invcircle</key>
    <string>invcircle.glif</string>
    <key>radio</key>
    <string>radio.glif</string>
    <key>sparkles</key>
    <string>sparkles.glif</string>
    <key>sun</key>
    <string>sun.glif</string>
    <key>uni2299</key>
    <string>uni2299.glif</string>
    <key>uni2581</key>
    <string>uni2581.glif</string>
    <key>uni2583</key>
    <string>uni2583.glif</string>
    <key>uni2585</key>
    <string>uni2585.glif</string>
    <key>uni2587</key>
    <string>uni2587.glif</string>
    <key>uni25C9</key>
    <string>uni25C_9.glif</string>
    <key>uni25E9</key>
    <string>uni25E_9.glif</string>
    <key>uni25EA</key>
    <string>uni25E_A_.glif</string>
    <key>uni260E</key>
    <string>uni260E_.glif</string>
    <key>uni260F</key>
    <string>uni260F_.glif</string>
    <key>uni2648</key>
    <string>uni2648.glif</string>
    <key>uni2668</key>
    <string>uni2668.glif</string>
    <key>uni267B</key>
    <string>uni267B_.glif</string>
    <key>uni2680</key>
    <string>uni2680.glif</string>
    <key>uni2681</key>
    <string>uni2681.glif</string>
    <key>uni2682</key>
    <string>uni2682.glif</string>
    <key>uni2683</key>
    <string>uni2683.glif</string>
    <key>uni2684</key>
    <string>uni2684.glif</string>
    <key>uni2685</key>
    <string>uni2685.glif</string>
    <key>uni2687</key>
    <string>uni2687.glif</string>
    <key>uni2689</key>
    <string>uni2689.glif</string>
    <key>uni26A0</key>
    <string>uni26A_0.glif</string>
    <key>uni26A1</key>
    <string>uni26A_1.glif</string>
    <key>uni26C1</key>
    <string>uni26C_1.glif</string>
    <key>uni26D2</key>
    <string>uni26D_2.glif</string>
    <key>uni26EC</key>
    <string>uni26E_C_.glif</string>
    <key>uni26ED</key>
    <string>uni26E_D_.glif</string>
    <key>uni26EE</key>
    <string>uni26E_E_.glif</string>
    <key>uni26EF</key>
    <string>uni26E_F_.glif</string>
    <key>uni2706</key>
    <string>uni2706.glif</string>
    <key>uni2707</key>
    <string>uni2707.glif</string>
    <key>uni2731</key>
    <string>uni2731.glif</string>
    <key>uni2732</key>
    <string>uni2732.glif</string>
    <key>uni2762</key>
    <string>uni2762.glif</string>
    <key>way.icon</key>
    <string>way.icon.glif</string>
  </dict>
</plist>
