<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uniE00A</key>
    <string>uniE_00A_.glif</string>
    <key>uniE00B</key>
    <string>uniE_00B_.glif</string>
    <key>uniE00C</key>
    <string>uniE_00C_.glif</string>
    <key>uniE00D</key>
    <string>uniE_00D_.glif</string>
    <key>uniE010</key>
    <string>uniE_010.glif</string>
    <key>uniE011</key>
    <string>uniE_011.glif</string>
    <key>uniE012</key>
    <string>uniE_012.glif</string>
    <key>uniE013</key>
    <string>uniE_013.glif</string>
    <key>uniE014</key>
    <string>uniE_014.glif</string>
    <key>uniE018</key>
    <string>uniE_018.glif</string>
    <key>uniE019</key>
    <string>uniE_019.glif</string>
    <key>uniE01A</key>
    <string>uniE_01A_.glif</string>
    <key>uniE01B</key>
    <string>uniE_01B_.glif</string>
    <key>uniE01F</key>
    <string>uniE_01F_.glif</string>
    <key>uniE021</key>
    <string>uniE_021.glif</string>
    <key>uniE022</key>
    <string>uniE_022.glif</string>
    <key>uniE023</key>
    <string>uniE_023.glif</string>
    <key>uniE02D</key>
    <string>uniE_02D_.glif</string>
    <key>uniE02F</key>
    <string>uniE_02F_.glif</string>
    <key>uniE041</key>
    <string>uniE_041.glif</string>
    <key>uniE053</key>
    <string>uniE_053.glif</string>
    <key>uniE062</key>
    <string>uniE_062.glif</string>
    <key>uniE063</key>
    <string>uniE_063.glif</string>
  </dict>
</plist>
