<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>bg=1,Loop=1000</string>
      <string>glyphs.bg=1,L_oop=1000</string>
    </array>
    <array>
      <string>bg=1,Size=1000,Loop=1000</string>
      <string>glyphs.bg=1,S_ize=1000,L_oop=1000</string>
    </array>
    <array>
      <string>bg=1,Size=10</string>
      <string>glyphs.bg=1,S_ize=10</string>
    </array>
    <array>
      <string>bg=1,Size=10,Loop=10</string>
      <string>glyphs.bg=1,S_ize=10,L_oop=10</string>
    </array>
    <array>
      <string>bg=1,Size=1000</string>
      <string>glyphs.bg=1,S_ize=1000</string>
    </array>
    <array>
      <string>bg=1,x=500</string>
      <string>glyphs.bg=1,x=500</string>
    </array>
    <array>
      <string>bg=1,x=-500</string>
      <string>glyphs.bg=1,x=-500</string>
    </array>
    <array>
      <string>bg=1,Length=10</string>
      <string>glyphs.bg=1,L_ength=10</string>
    </array>
    <array>
      <string>bg=1,Length=1000</string>
      <string>glyphs.bg=1,L_ength=1000</string>
    </array>
    <array>
      <string>bg=1,Loop=10</string>
      <string>glyphs.bg=1,L_oop=10</string>
    </array>
    <array>
      <string>old</string>
      <string>glyphs.old</string>
    </array>
  </array>
</plist>
