<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Size=1000</string>
      <string>glyphs.S_ize=1000</string>
    </array>
    <array>
      <string>Size=10</string>
      <string>glyphs.S_ize=10</string>
    </array>
    <array>
      <string>Size=10,Length=1000</string>
      <string>glyphs.S_ize=10,L_ength=1000</string>
    </array>
    <array>
      <string>Length=10</string>
      <string>glyphs.L_ength=10</string>
    </array>
    <array>
      <string>Length=1000</string>
      <string>glyphs.L_ength=1000</string>
    </array>
    <array>
      <string>Loop=990</string>
      <string>glyphs.L_oop=990</string>
    </array>
    <array>
      <string>Loop=10</string>
      <string>glyphs.L_oop=10</string>
    </array>
    <array>
      <string>Size=12,Loop=990</string>
      <string>glyphs.S_ize=12,L_oop=990</string>
    </array>
    <array>
      <string>Size=12</string>
      <string>glyphs.S_ize=12</string>
    </array>
    <array>
      <string>Loop=1000</string>
      <string>glyphs.L_oop=1000</string>
    </array>
    <array>
      <string>x=1000</string>
      <string>glyphs.x=1000</string>
    </array>
    <array>
      <string>x=-1000</string>
      <string>glyphs.x=-1000</string>
    </array>
    <array>
      <string>x=500</string>
      <string>glyphs.x=500</string>
    </array>
    <array>
      <string>x=-500</string>
      <string>glyphs.x=-500</string>
    </array>
    <array>
      <string>Loop=500</string>
      <string>glyphs.L_oop=500</string>
    </array>
    <array>
      <string>Size=400</string>
      <string>glyphs.S_ize=400</string>
    </array>
    <array>
      <string>Size=10,Loop=10</string>
      <string>glyphs.S_ize=10,L_oop=10</string>
    </array>
    <array>
      <string>Size=1000,Loop=980</string>
      <string>glyphs.S_ize=1000,L_oop=980</string>
    </array>
    <array>
      <string>Size=1000,Loop=1000</string>
      <string>glyphs.S_ize=1000,L_oop=1000</string>
    </array>
    <array>
      <string>Size=1000,Loop=900</string>
      <string>glyphs.S_ize=1000,L_oop=900</string>
    </array>
    <array>
      <string>Size=1000,Loop=10</string>
      <string>glyphs.S_ize=1000,L_oop=10</string>
    </array>
    <array>
      <string>Loop=10#1</string>
      <string>glyphs.L_oop=10#1</string>
    </array>
    <array>
      <string>Size=1000#1</string>
      <string>glyphs.S_ize=1000#1</string>
    </array>
    <array>
      <string>default</string>
      <string>glyphs.default</string>
    </array>
    <array>
      <string>::fontra000</string>
      <string>glyphs.__fontra000</string>
    </array>
    <array>
      <string>components</string>
      <string>glyphs.components</string>
    </array>
    <array>
      <string>old</string>
      <string>glyphs.old</string>
    </array>
    <array>
      <string>default^components</string>
      <string>glyphs.default^components</string>
    </array>
    <array>
      <string>default^wireframe</string>
      <string>glyphs.default^wireframe</string>
    </array>
    <array>
      <string>01</string>
      <string>glyphs.01</string>
    </array>
    <array>
      <string>default^unflattened</string>
      <string>glyphs.default^unflattened</string>
    </array>
    <array>
      <string>default^bg</string>
      <string>glyphs.default^bg</string>
    </array>
    <array>
      <string>unflattened</string>
      <string>glyphs.unflattened</string>
    </array>
  </array>
</plist>
